// default
a {
  // color: 
}

hr {
  opacity: 0.3;
  margin: 5px;
}

// element-ui
.el-main {
  padding: 10px;
}
.el-card {
  margin-top: 15px;
  margin-bottom: 15px;
}

// common
.text-center {
  text-align: center;
}